.container {
    margin: 50px;
}

.center{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
}

.sidebar{
    position: fixed;
    right: 270px;
    height: 100%;
    margin-top: 20px;
    margin-right: -250px;
    overflow-y: auto;
}

.hcenter{
  margin: auto;
  margin-top: 20px;
  width: 500px;
}

.header{
  text-align: center;
  margin-top: 20px;
  color: white;
}

.player{
  margin-top: 5px;
  border-radius: 1rem;
  width: 13rem;
}

.chat{
  margin-top: 20px;
  border-radius: 1rem;
  width: 13rem;
}



.zbutton {
  background-color: #0F05A0;
  border-color: #080046;
}

.zbutton:hover{
  background-color: #6692ff;
}
.zbutton:disabled{
  background-color: #6692ff;
}

.lobbybutton:hover {
  background-color: #6692ff;
}



/* Background colors of Zurich */

.zbg-1{
  background-color: #0F05A0;
  color: white;
}

.zbg-2{
  background-color: #080046;
}
.zbg-3{
  background-color: #6692ff;
}
.zbg-4{
  background-color: #3631db;
}
.zbg-5{
  background-color: #c1d7ff;
}

.background{
  opacity: .9;
  background-blend-mode: luminosity;
  position: absolute;
  filter: blur(2px) grayscale(30%) brightness(50%);
  -webkit-filter: blur(2px) grayscale(30%) brightness(50%);
  height: 100%;
  background-position: center;
  position: sticky;
  background-repeat: y-repeat;
  background-attachment: fixed;
}

/* Styling vor SVG stations */
.st0{fill:#F4E72D;stroke:#000000;stroke-width:0.25;stroke-miterlimit:10;}
.st1{fill:#3299CC;stroke:#000000;stroke-width:0.25;stroke-miterlimit:10;}
.st2{fill:#FFFFFF;stroke:#000000;stroke-width:0.25;stroke-miterlimit:10;}
.st3{fill:none;}
.st4{font-family:'Arial';}
.st5{font-size:10px;}