.container {
    margin: 50px;
}

.center{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
}

.hcenter{
  margin: auto;
  margin-top: 20px;
  width: 500px;
}

.header{
  text-align: center;
  margin-top: 20px;
  color: rgba(237, 237, 237, .9);
}



.zbutton {
  background-color: #0F05A0;
  border-color: #080046;
}

.zbutton:hover{
  background-color: #6692ff;
}
.zbutton:disabled{
  background-color: #6692ff;
}



/* Background colors of Zurich */

.zbg-1{
  background-color: #0F05A0;
  color: white;
}

.zbg-2{
  background-color: #080046;
}
.zbg-3{
  background-color: #6692ff;
}
.zbg-4{
  background-color: #3631db;
}
.zbg-5{
  background-color: #c1d7ff;
}

.background{
  opacity: .9;
  background-blend-mode: luminosity;
  position: absolute;
  filter: blur(2px) grayscale(30%) brightness(50%);
  -webkit-filter: blur(2px) grayscale(30%) brightness(50%);
  height: 100%;
  background-position: center;
  position: sticky;
  background-repeat: y-repeat;
  background-attachment: fixed;
}
